h1{
    color: red;;
}
.b{
    color: blue;
}
#c{
    color: green;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 10px;
    word-spacing: 20px;
}
.d{
    text-align: center;
    text-transform:uppercase;
    text-decoration: underline;
    text-shadow: 3px 3px rgb(151, 82, 82);
    background-color: rgb(50, 89, 98);

}
#bg{
    width: 200px;
    height: 100px;
    background-color: darkred;
}

#card{
    color: white;
    width:200px;
    height:200px;
    margin:120px;
    padding:40px;

    background: (to right, red , yellow);
}
p{
    padding: 20px;
    border-radius: 30px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}
.cg{
    width: 300px;
    height: 150px;
    background-image: url('https://unsplash.com/photos/a-mountain-covered-in-snow-under-a-cloudy-sky-aRtYS16ziVU');
    background-size: cover;

}