*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: #111;
}
 
#box{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right,red,blue);
    border-radius: 50%;
}
    
#circle{
    width: 200px;
    height: 200px;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQA9gMBIgACEQEDEQH/xAAcAAADAAMBAQEAAAAAAAAAAAADBAUAAgYBBwj/xAA5EAACAQIEAwYEBQQCAgMAAAABAgMAEQQSITEFQVETImFxgZEUMkKhI1KxwfAG0eHxM4IVYhZykv/EABoBAAMBAQEBAAAAAAAAAAAAAAECAwQABQb/xAAnEQACAgEEAgICAgMAAAAAAAAAAQIDERIhMUEEEzJRFCJCYQVScf/aAAwDAQACEQMRAD8A5YSTlbXBHhW6jEKQU7TyBocUTL9VORlwBemcEKrX3k9ixOKQ6mXyvRO2eRrsGzeI1osEiowZ0H6U8ZldlYEL5C9SksdGiM018jSOdApL5GYjLZxrQ3TDSGyRgMeanTysaodiZFCNGhHXLb9K3GFCXf4OJgdLamoatLNOnUtuCTFw2Zv+IKx6a3obwFHIkDCxsw6VbOaNgVgZbfm2FMLiHMZEWHRTux3Jo++eRfRWcyYkViAWy9TRFUrbW69bV0cckWctiIRcra5W4rEwmHF5MNMqMwIysMwNB+U08ND/AIsWtmQFiQnNm73S1bDDyTMFWPP4A1TXAqS3boAfpeJgb+lE7GGEArIxI1sVsaf352Qio0/IntwaVgPwWW/Wgjhrx975bdarJ8U8rMhkChTr51kcU8r2eSx/K+hqTnZF7sso1yWyFlSJhYxZCdyTTC8OVkDNtbQ9aI3DijZs1q3TtENg9xQzq4YX+vKIsmDySFVU35UJcBMxJIFdEz5iFlUa8xQSBG5INwOVdrsWxyVb3I44c/StTw6QC+U1eWcMbZLnram0VZFsAKjK6xF1CDOXPD7LcihSYfLoq11cmHBQgKAKnHC2Y2W9OvIZ3qRzEsJvsaEUI2rp5sErrdbjzFTpMEbmwq9fkpkLPGJSq52rfIbWuRThwbjYUGSJ03FaY3JmOzx2hWUaWpV1112p5o2Y6A1v8EWW5FPqIqGNmIqEttQJgOVVPhCPpoLwgfTXasnOOCSQTsKynmiAO1eUMg0DiIAdjTMdhyrFSirHVNjDqYWMpzApmJEv/ml0ioyJag4fQyta6HERlACk296ew4kPdHXUkVNQMDcGmo5H61CdLZqr8pRKceGzk6i531rc4Jrahcu1qSjlccz703HPICCG2661klRZ0bYeXBhDg0yENGLHo1qCeEKEuucEbhj+4p+PEnKLqL9dKYGK0Gg8iKzyrt6NKvrOebAM1xYAjq2X71o2DxKILGS/uPeum7SCYZZogPEV6uCs2bDSkeF70jlZB7oZSrmtjl0TER95tb690VuuUEZ1LHrXSSQz/UisORK6ilRDh27rRqh3v4+VFeS+0H1RfBKUK9grMdOm1YyOqGwzDraqr4WMg6d2+4GtK/DhGPZ5rdCARTx8iIrqZNAbKS0elulAZ1IBCmrFi3ckVSv5Tp+lCbh2HbZXzf8Aq4NqsriTqJ8DWUsp30/gpiBpVuUIB6GnBw6MAXL2v0plMLEvyM3/AGF6Sdi+h1HAizS5ASbt4UpNI9rFbVY+GCMTv/6g2oUkMZUXQg9b3rPqwzQuCTFiLNlK3Bo5SB69lwet1oHZTI3hXPS90PGTXJ62GQmy0CfABhTADk3oqoWU3YD0p4akLJxZFbDKuq3rwKALEXqs6C2opWRByFa4WsxzpT3EWAANhSGJdB9AvVSYG2lS8RlB2q0JkJV4Jzm51FZW7qCdKyq5JYKSEHY0dAKlQtL1DeYp+BiLXU0zkY/UPolGVKDC68705GUbYildgPQzFSjIgoiIvUUVYxS+070P6NFSjxg9K3WPwoqJp81B2IZVSRiUwlq1VQN6KoXlU3KJaKkgiKDR0S21/ehJYc6OrLfcVKW5aOQsbyLzB863tE/zKAw5gUMG+1b28KzWQgzTGUkbdgp2A8xQnwlze9z40wjFRRVYMPGs06V9llbIiTYCUPmCEi/LWvYsF375SFvqNr1ZswO9etlI71qCcorGRnLJOODQ7qAPAVo2COe40FUhkXnesurHQGj7Mdi7iHYkfMQR5a142CVhdNb8qq9lf6RasCkbKPai7l2Jv0yKeHk30IoL4AjlV4huQoEmY1KV8VwUjKRDGCUG7LejnCR9mBk5U+VetSj+Nd+WkFwb7JEuDTJbLUzE4JibKSK6V8O52JoLYRjQXmf0Oof2cqcE2twTSk2BUAnS9dfJw+RthelZeESHZbU68xh9UWcW+GGbf2FZXUycEct8t6yqrzBfSjjIo7U1Hcc6CssQ50VcRD+a/pXrZZ5+I/Y5FIOdNRmM8vap64nD9ftREx8AO/tSNMqlH7KsdhqGI9KaWVgOvpUheIx8j9xRU4hHfa/rUmmOoxKonl5R3osUzNvYVJ+NT6QP/wBURMdHf6fekeRlXAuJYjU0UKtSY8ctuXnmpiPGofqFScpB9cSmgQbmihkHKkI8Uh3IPrTK4iK3Kkc5B9URlZR0ogmJ5UhPxTB4VQZWF+Sjc0nJ/U8I0hw/kzn9qjKUhtCLoMpF62VJW+o+lctJx6WU3eUKPyjQUzgeN9i4yutua30NTcpIbRtsdF2MvO5rZIX6GhQcbicAsgX/ALU0nFMGd5VU9DSPD7EbmujeOE80pmPD+FBj4hhWPdlQ+tNJik5Gniq+2Qm5/QVMPpqK2OGB2raLEKw3HvRe0W24r0K66Jx5MrlNCbYahnC+FNS4iJN5BScvFMPH9RPkKzWx8eL5Kwdj4Rnwg6V78KvhSR49hg5DJIB1tTOG4lhMTfsplLflOhFIlTLgd+xBPhkrz4ZByovaCtS9NprXR2ZA2gQbChNEn5QaMWFaMRQcYsdNizRJ+QVlFJFZSaUPufnvt35VsJpfze1LEuu9a9q1fRrEuGeW/wBeUOZ2PzMT616GA3NJ9ox3rCxNdpCplATqulEXEr1qVevQ9qDgMrWWVxqjYCtvj2+hFHnUXtq9OJblpU3Wh1cyx8XKRcyG3hXgxmv/ACNfzqPnZjcvc+dbCpuCKKyRdXi0kY0masPG8U+gke3naowIGp0FYcRGuxualKCKRnIrfFyuczOST1oqTsd2NR0xQ6GmIp/A1GSRZSLEcuu9NxSnkahrO3LSipKTu9/C9Z54KqR0Mc5G7G3nTUWLRPlJPhXPxPem4ntWSayVUjoExzkaAL5U3h8UR9Rrn4prbUxFifGs8oD7M6dMdlUd7Wj/APk3UWDnyrmRiR+a9e/GG+hqWh9AcY/Rcm4ix50nNjL/ADCpxxLHc/YVq0wI1A9DRUcHbIYkxSHe4oLSXsVc+FuVLEySH/iZR5ito8O6sGzNbpVNUY8s57jMfF8fhj+HiGIH0v3hVPD/ANWLp8VEyHqneFQZ4uzIZp7dFABJ/egziFdboPzZjqPTrTq6LE9aZ2cP9RYGb5Z1HmbH2NGbjOCuFbFRKT1YV8xx+LhiRlMhGbcomvoeVRmx2EvkRpEvubd4+Zq8VKSysiOMEz67iP6i4bA+V8ZDfwJP6VlfGsZi8GgRGM+n5WsKyqqmQuqAu2GlW5SRZRobhr6H+WrcKi5cym59aSw+HxIifvMMjk5dtB+9P/AvLMI1k7ozEMD1/wB/atD/AFfyMDmn0b9lA8oGcDTe968+DRtRKACdAany8OxkIzRF37xC2BO3++f+yo2Lw0SrJFdmJzBVvtpTqyxfGYmY9xGUwTyIezYMbgWv1oUuBnRyrLceFaIcV2TFbhlbS5tp/bWncNLLE6iVgSoBKk6Dl62OX3pvyro9pg01/wDBI4dwQCjA+VatlQXZgPOr/wD5EEXSBXsQQbb6H+xreaTCYjDwyy4NGWQEl1X5ddf0pX/kJdxHjVF8M55Z4hbU+YFZJOdeyuL7mr44HhsYmbAuqtuVY7UE/wBMYsAmLLIdgFbnXfnVPl4H9UiITIV1OlarpVhv6f4iRfsLEdGBt96XXheKDZGgkLDW+Xej+TU1tJBUZLoXiS2p086OrBrBQbU2vA+IM2Q4Vhcc/wBKbi4BjlGY4dh3dyR/eoSvq/2RRKQkgNtKPHYefOml4TibD8MSKRfNGwNhXqcKxjC6wv4ki2tSldX9jpSNY2IOlNxZm1FMYfhM2RS0bCw58/GqMfC3MalY73G1+VZLL4LsrGLJqk9CaIvaMuYrZetUV4ZMCMqRxa2zDU0VOHuGBlnZm2zKKg/IgWWxNRgOYPiKIk1gWsMq7k7CqkUULAlXmY9WBrJYEiBkxCMWXXvn9qn+SuDsiSKTrc5Tty/W1MxQDn3v/qt/vU6fjUMDBEjCsdQSL+/StcN/ULKWE3eBIAK8jXONsllIGpItCPLqRl9b0vicVDFpIHJsdlNz60rNx+EKO7e+hPSvYOJwzEMkdmP1OdLipKuzmSF9q+xHHcQlhlBw+EGW3fJQ7eftSUvGcQQFSHKbWDBP57VXPE0lzHVgmhf5QfAfbWsl4raVUjijWJQSWbY+FaYPHMBXNfZy8vDuKYtWeYNe+x5fzlQ1/pzE5C2IQoTtrtVziHGcgvE6WA3IuGPQVHj4pKoJeZw8hJZr3It4G1ba53yW2xJ6Ee//AB7JZj/ykajPt/NKyomJ45iiQL2B1Bzb1lXVXkvsT21i4xjLKDCUIyWIDi/3/mlLrxd+0dMuYFiMt/G425Umsmd8ssRyMbAjl4g1mKhjdlkXNm5suxP3tXoKmPZ5mp5K7cYZ8kVgymxs430/XXlWw4w+YR3dLNmF16c6hsmaNQjKWBuLvt1/Qe1MqGkBLJlk+vMLqT/LUrpgc5MqjFSMpEaNlU3zIARbf2/lqXOJz5igGc6a/wCKWSOXDhJO61w19Nracj4iiCCwSbv5S+UqupDA/wA0tS6IoDb7KXDDPMyRrG7SXbf5ToAQB5Hz0rrcLgsQcscyLlKA2uN7W09edI4J4MOYyiATEhyCDYMNAd/H/FUJ8fjOyR0TXtMgFhc3W49OXtXleTKU3iJppsSRknCJpLiJ8osDm1F25k+F63wuLk4fEUx15SF0Nh3v5+1VIXZoljnjdm+U268yPvSuJwq4yR5HXIoIAvuRmGt+lYPY5frPg1NvGUMQ42GRRnjCrYBiCNCacEMbpmhmsCOR0tXMDDYwSHvgLm7qnQEbC1vP28qpxy4rDKS+XsxcIQbDx5ctv9UllGN4MaNj7G2hEUg7bEP3jYAL42v50b4TENGT2kbJyJ51o+Pjbuy2U3ym+hBB18L1qIpGDTR4khzsCO6oqL1djezAyuDxCj8MIeRObQnr5UCQYqLvsrHW1uvvQmxuMwtwqvKxv38llHj7A0tLxfiDMrSKsSAZc7GnjVY99gexDk02KQqI4y0h2HIX6mlnTiQjB7ZU1W56L5UniuMTJHfMHa/dDDUC5sfa1IRYzGMn487MjMRdtibA28if1rRXQ8dA9uC5hO37e0mJBS2g2zetPvicLAytJLdtRkBvtXKz4u00MjHs2zZT10F9vMVPxeOuSwBMl776AAkCm/Dc5Z4Od2Ds8XxUoqGEKoY97Nr6e1vvUibj6LHkOrglS3LS+xrmmlmcoryNfnrztS0zSEZswRQxAUc/83rRV4MFyI7i2ZcO+ZnNy2rZtxegx5FtlQZQBY5r1Hja5yHvWF9/Wgz4lkYlGOp2GwrUqeiLsbLmKd0DSZ0yKPMmkI8bII2DyWynUClExt1yG+Y7k8/CtZFVgA197kDn51SNSSxIXWMT4l2K9ldQfm5CitLIsQAmNiuwrXheCZsbA7LA8QcF1mUsptoQQDcgdBTOI4NKMW4w0l4WJ1yWVCLmw6C1rdL2otVrkKbaJrzShjciyi6E7A9aAxmILO2h1Z976Vaj4PCJB2slwBcgnT09bexr08DLtCsGQqLHbVmJ6dLAeVFXVoGJHP8AaRuQJI5QltCqhj7XFhXtddh+A4eEOU/EkDkXJ0y+/kPSvaV+XUFVSPnsfaDJ2dlNiMp53okXaByG78bnW9jp/uh9vIqhRYNba+g57elM4afKokku5LaqdRXoybMcmHwuHiZWKwCMhhfQbE28xraqEvCY1mESxMZSLkKpNjr1NuXSjQsnaxyfLG4IdL8iNQfUE1Umny4gsBbVcxC7mwJ+5rHOyWdhdWEAwuGwmBhRZe8yPnzbBttLDx+9PYRISsixKqxqMx7ltD06AAGoOLxB+HmkQXUR3VrW1uoNvHU1tgsc6cPUAhxK7JY7iwF/51qU65tN5FUpPdlyTFQQ5UCgOy2DXPeFuX89Kdw2OhfFPF2Y7jWbOSNRz/n6VzSTI+NkEimZIYmsHkyhDoLE+t/GmfilOMaTELIYpJSmZdCRqLr6WF+gqMvH2Lw/VZOvwnE1kzIt9Dlte5YEa/uaNjAGK5Htptoev+/SuRhxEPwzCEpCmayPhwHYtyUki+2njVFOIq/DS8U+aRLL2wFmA00uNjrtWGzxHF5Rqja2i4mCuFUyaZr5tgBso9Nb+dGlw65Zc15VtoOo30HrUTD4qVBJBiGd/qMgYg7AW6nn7+VOywPNGCeyzNoy2Udw2sD051F1PVuyqewjjcfhxkCMTKZbO31ZidB4gXrzhWOxkjiRUZQ9nCuLN7ct6Q4nEI4kCKEaZlfwAAvmPqb330O9AXjUmHW2VSsisFJGw9K2+lShsskJTSZ2AYrGJMQUDMLlEGYg9L+v3oOOXtsM0cccee2e5udBtcKwJpLhrNxCNe0coc1wpABC63++w8KpTYbuSGDKZGIvm0yjrvz8NKxYUJ7lIvUjlJsQL5pkllkzZcpU332y+Xt5U4mNl2ljja6XF00Fzv4H7mmZJAmVJcOVa5ViDcdBqKDjHw8OUrG1ybWBFyd9eg29q2qSn/ElnBI4o0szCV17NhqgtYk9d6UgBcSym102PI7/AOKPj8Uxlcqwyoo+kAE30Hrr7HpSSszBoYwRISWObbytz5/atkU9JGU3k0DPDEskubvk28ep/X2pOaWXtDcWCnbxJqlNPZlKoWvYAkbg7W+1eYiPvFFjs4uWN9CQeXXX71RPHKBr+ya2Il7V0CkNmsbC385UFcNJa7NZtzen2YRvdo+84H+6G80YkzuLeB661VS+kFTNIMLK7qSCo53HjVCDDEoBzz+F2oKSiRkaIOVjuSo5fwUXtnjTDkC6vrb81rVOTbOcssdSXsIZshzFULC3LvD+5pmDEnFooHcYgljca7Xv47WqKjMXaxDAi1rjUc9OfjR0xYw2HZAO6HLKU7ttLWP2NvCpyq/oMJYLww3bSLI7KI0C2Nz3Rr832o8OHhgRjHIzWBF9s2mo8q54cRnSFMpvkTNqeXXxvblQ5+ITYaFdQOzLFTqb20BPhWd0Tltk0RtijpcbxPD4GVkxMxstgzWzEtr7bGsqLiMYxMPxGV0aPMpy73ta/iNqyl/HguUN7mcTIWliMrCxLEX630prBgsHiMeeMKLsBbUG+9eRqCBnAMR1Avba5raOUo4jRRkysLHrXtN5POkyqZUjGdWvrqG3U/5609isSuKXDLGBn7MEm5bUbaX1Nz96gqxeVgp7hBLG+gAG9UMDnRViOUuDHka+hUkaj2+1Z5Q3yIlhG+CljYnCQAMWieIhmsHJ+UX2+YAChwqySSRSszCOaR0Gg0YA+X0mvIIVjkDyxMwuTlRxkWMc2PM2toN6qQ4tZCYp+xJmRhkXZNND+l+e1dNtMo08ETDzCRcSohyo8qBmyalbtqDuP0p7EYpVwuKZAzFiQlkOZVIGg6VPlUyYbEkyGJ4AHKW0N2y732trzrQYmHER9jJPPmL3L9ncXPPU3PsKppy8sMWC4c0ySuqMUJGr5wF30NzYdfvXZ4aR8WJThZCoPzQ2Cs63BFiN9T/bcX5HEJ2McSNKGjClY0QglzrrysPuNqa4E82EmLyx5YZEZRnb5VNr7DoPv61O+CnHJSLwdamKhlwbNAzM0ZKqXJ53GXlYXUEHnY01hVeNIpIn/Di/DYgnRQQVJ6f4rncPxH4RiYzG/aLmkSRbKTuM2hNtSBYfrTsHF4IS5V3kjnC5FVrMykkWbytlP71586ZY2K+wLxtcVJhZJZorR5soYGygXJ9NeXhS3CsEJO2jVvk1zbWVRmJ12uQov40DEccixUkmHmd8PFKt1OW6pY9N9vA6+9D4RxJsD2kcgzNmIIHev5eFj150/rshXhEZOOorZsXh5Ph4o8oveRw1iTsRe++g8etEXiE2F1TtYV5xyg3/AGt5iue4ziAAxXE5mbKzdmSCb/mPT/1H2trOONxeHY4ZyoUfMobMo5/zzp14utZZyljg6nHYzt8NLLDO7RLoSQRqeWp2uf5tUVcSxlszZWjJ+fkLUq3EJJox3i6kqAHI7ltLWGltf4b0sz5WJBJJ3J3Jq0KVHYlOx5Op+FiHCIQFUSkLK50+QaXv5saVaPDQsGLG7kgZly2v67bdKifHytEqgnugAC++tevOZgGViNt9QaCrkuQKz7KrSRQfjSHNLERluBuRcaeFKjFzSd0klsmoIt5en96TOIaYxqRrfUn+efvWxnWNvwTfszo32/emUNg5b5KKrZs8puSNDak5MCGWSRQWJYXYjQ+R9TWr4gkXkXKB3DfTUUxHjY5V0BV4xqQN1/ehFSiNk3hwXZo64aW6yNlfXnyA8d9PCmuIMvwUOHJQmJbXuDr1v7VOmxwWOXJpcWJF9/8AVLx4pJ0kklkcM20YUWYDle+nhpXaJSeWFTHbrDFEsbZM4NgASSfH9hQUwC2aXLly3L8gRb+e4oTzysyiMqrkDdgLevLzqhh2wohCTP8AispziI9wGw6gX9/0pm5JZHi88goo4l7jjOvZCMi+pW5sAfQ0q0864ppQWR2Zhv3B4dNB9qJE8a4xcpzKHNidSbD9NqGMpD3G7DS9zfT79a5N9hwNxlsVbDtH2csV9l2F9R71lIl+0QB42shsLE6fz7VlI4b7BEnHdjPQUE92RGG9j+grKytaMyCK7R4XEOhsbhD5HlT+GcnheEewDn6hvqTWVldL4hfxNIu7hsQ4JJjnKLc8iOdPuoTiuGiUd2NYbdSWtck9dTWVlTYyPMXh4uw4vIq5c0D91dAMkuVbe1c/K1oMwABZiD7isrKpAJQw0CNi1jN7KTY31Gho+PORbIMqo3dUaAaVlZU380jmJT4iQobkWI25b07gyThsHqQZVkzkc9P8VlZTYWAIQ4g7T4f4mRiZgMubqNTrR8OT28YzHvCx9qysoy+KFnweyEtiI1clgWN7/wDX+9GxaK0+E3uyam+ujMP0rKypph/iCxUaxzzqndUKGAHWw/uaWDEqfBb17WUyJswsI2mQKtil7ncag6VsGsb2F2Iv7VlZTML4MG0d/qFz47UWNQuGnnA/E0W/gSL1lZShR7Gx7KZBYC97ga7gfoTWYJQmLjAAIVLi+tz41lZXdDISmxEjTEA5bjlWzv8AhROqqjMbHKP5asrKd8BQd2IRZQe8x1HI3vTnZqkSsvIkgctv8VlZUpBNeHEiLFzX70TZUHIDalMSxVg4OtyfW5NeVlcvkxxnGDLicq90d7QedZWVlKwn/9k=);
    background-size: cover; 
    background-position: center;
    
}
#square{
    width: 40%;
    height: 50%;
    background-color: crimson;
}
#square1{
    width: 200px;
    height: 300px;
    background-color: blue;
    margin-top: 40px;
    position: absolute;
    top: 0;
    right:0;
    transform: translate(-50%,-50%);
}
#square2{
    width: 200px;
    height: 300px;
    background-color: green;
}
#square3{
    width: 200px;
    height: 300px;
    background-color: lightcoral;
}
#parent{
    height: 500px;
    width: 500px;
    background-color: orange;
    position: relative;/*controls the child using this*/
    display: flex;
}
#child{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    position: absolute;
    top: 50%; 
}
#child1{
    height: 200px;
    width: 200px;
    background-color: white;
}
#child2{
    height: 200px;
    width: 200px;
    background-color: yellow;
}
#parent1{
    height: 100%;
    width: 100%;
    background-color: rgb(41, 134, 188);
    position: relative;/*controls the child using this*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
#child3{
    height: 200px;
    width: 200px;
    background-color: rgb(109, 40, 89);
}
#child4{
    height: 200px;
    width: 200px;
    background-color: white;
}
#child5{
    height: 200px;
    width: 200px;
    background-color: springgreen;
}
