/*body{
    background-color: black;
    color: white;
}*/
button{
    background-color: green;
    transition: all 0.5s ease-in-out;
    color: white;
}
button:hover{
    color: red;
    background-color: green;
}
.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform: translate(100px,100px); 
    transform: rotate(30deg);
    transform: skew(10deg,20deg);
}
.box:hover{
    transform: scale(0.8);
}
.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate3d(10px,20px,30px);
    animation: chacha 5s cubic-bezier(0.19,1,0.22,1) 1s both;
}
@keyframes chacha{
    from{
        background-color: red;
    }
    to{
        background-color: green;
    }
}